/*Global Changes*/
body{
    display: flex;
    flex-direction: column;
    background-color: black;
}
*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Logo*/
.logoHolder{
    height: 12vh;
    width: 20vw;
    margin: 0;
    margin-left: 5vw;
    display: flex;
    align-items: center;
}
.logo{
    position: absolute;
    width: 15vw;
}
.logo1{
    opacity: 1;
    transition: opacity 0.3s ease-in 500ms;
}
.logo2{
    opacity: 0;
    transition: opacity 0.1s ease-in 0ms;
}
.logoText{
    font-family: fantasy;
    font-size: 4vw;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease 500ms;
}
/*Content Division*/
.top{
    display: flex;
    flex-direction: column;
    font-size: 400%;
}
.main{
    display: flex;
    flex-direction: row;
}
/*Header*/
.header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0;
    height: 8vw;
    background-color: rgb(0, 0, 0);
    transition: background-color 0.5s ease-in 50ms;
}
.glow{
    height: 8vw;
    width: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.1s ease 50ms;
    display: grid;
    align-items: center;
    justify-content: center;
}
.header:hover{
    background-color: rgb(161, 255, 175);
}
.header:hover .logo1{
    opacity: 0;
    transition-duration: 0.1s;
    transition-delay: 0ms;
}
.header:hover .logo2{
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 500ms;
}
.header:hover .logoText{
    opacity: 1;
}
.header:hover .glow{
    opacity: 1;
    animation: staggerGlow 2s ease 200ms infinite running none;
}
/*navigation*/
.banner{
    margin: 0;
    height: 10vh;
    background-color: black;
}
.banner .nav{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
}
.banner .nav li{
    float: left;
    text-align: center;
    color: rgb(161, 255, 175);
    border-right: 2px solid rgb(161, 255, 175);
    font-size: 3vw;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 1;
    transition: background-color 0.5s ease-in 50ms;
}
.banner .nav li:last-child span{
    opacity: 0;
    background-color: red;
    color: white;
    border-radius: 10px;
    transition: opacity 0.5s ease 50ms,
                content-visibility 0.5s ease 500ms;
    position: absolute;
    content-visibility: hidden;
    top: 10px;
    left: 30vw;
    padding: 2vw;
}
.banner .nav li:last-child:hover span{
    content-visibility: visible;
    opacity: 1;
}
.banner .nav li a{
    display: block;
    margin: 0;
    text-decoration: none;
    color: rgb(161, 255, 175);
    transition: color 0.5s ease-in 50ms,
                text-shadow 0.5s ease-in 50ms;
}
.banner .nav span{
    position: absolute;
}
.banner .nav li:last-child{
    border: none;
}
.banner .nav li:nth-child(2){
    text-shadow: 0 0 20px rgb(255, 255, 255);
}
.banner .nav li:hover a{
    color: white;
    text-shadow: 0px 0px 20px green;
}
/*Sidebar, not in use*/
/*
.sideBar{
    position: absolute;
    top: 25vh;
    width: 5vw;
    height: 175vh;
    background-color: blueviolet;
    background-color: black;
    transition: width 1s ease 50ms;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
.sideBar:hover{
    width: 15vw;
}
*/
/*Main Content: Map*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.overHolder{
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
}
.overHolder div:first-child h2{
    text-align: center;
    margin-left: 5vw;
    margin-bottom: 40px;
    color: white;
}
.openTimes{
    margin-left: 5vw;
    margin-bottom: 5vw;
    color: white;
    border-collapse: collapse;
    border: 2px solid white;
    width: 35vw;
    height: 30vh;
    font-size: 2vw;
}
.openTimes td{
    padding-top: 2vw;
    padding-bottom: 2vw;
    border: 2px solid white;
}
.openTimes td:nth-child(1){
    padding-left: 2vw;
}
.openTimes thead tr:nth-child(1){
    background-color: white;
    color: black;
}
.openTimes td:nth-child(2){
    text-align: center;
    width: 15vw;
}
.openTimes th{
    border: 2px solid white;
}
.adressHolder{
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 50px;
    opacity: 0;
    padding: 3vw;
    height: 20vw;
    width: 30vw;
    background-color: white;
    border-radius: 20px;
    animation: floatInRight 2s ease 50ms running forwards;
}
.adressHolder p{
    margin-top: 2vw;
}
.content{
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(229, 255, 0);
    background-color: black;
}
.infoTag{
    color: white;
    opacity: 0;
    animation: appear 0.5s ease 1s running forwards;
    text-align: center;
    font-size: 30px;
}
.map{
    border: 0 solid black;
}
.filler{
    width: 100%;
    height: 10vh;
}
.content .white:nth-child(1) .filler{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(121,121,121,1) 100%);
    transform: translateY(-9vh);
    animation: floatInDown 1s cubic-bezier(0.83, 0.42, 0.77, 0.7) 0ms running forwards;
}
.content .white:nth-child(3) .filler{
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 35%, rgba(121,121,121,1) 100%);
    transform: translateY(9vh);
    animation: floatInUp 1s cubic-bezier(0.83, 0.42, 0.77, 0.7) 0ms running forwards;
}
.white{
    background-color: rgb(121, 121, 121,1);
    width: 100%;
    height: 10vh;
}

/*Animations*/
@keyframes floatInLeft{
    0% {transform: translatex(-10vw);
            opacity: 0;}
    100% {transform: translatex(0);
            opacity: 1;}
}
@keyframes floatInRight{
    0% {transform: translatex(10vw);
            opacity: 0;}
    100% {transform: translatex(0);
            opacity: 1;}
}
@keyframes floatInDown{
    0% {transform: translatey(-9vh);}
    100% {transform: translatey(-1vh);}
}
@keyframes floatInUp{
    0% {transform: translatey(9vh);}
    100% {transform: translatey(1vh);}
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes staggerGlow{
    0% { box-shadow: 0 0 20px rgb(81, 255, 81); }
    10% { box-shadow: 0 0 30px rgb(81, 255, 81); }
    22% { box-shadow: 0 0 10px rgb(81, 255, 81); }
    35% { box-shadow: 0 0 40px rgb(81, 255, 81); }
    40% { box-shadow: 0 0 5px rgb(81, 255, 81); }
    50% { box-shadow: 0 0 25px rgb(81, 255, 81); }
    63% { box-shadow: 0 0 20px rgb(81, 255, 81); }
    68% { box-shadow: 0 0 30px rgb(81, 255, 81); }
    77% { box-shadow: 0 0 10px rgb(81, 255, 81); }
    85% { box-shadow: 0 0 40px rgb(81, 255, 81); }
    90% { box-shadow: 0 0 5px rgb(81, 255, 81); }
    100% { box-shadow: 0 0 25px rgb(81, 255, 81); }
}